@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css?family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap');

$color: #E0F2F1;

$qcolor: #F9FBE7;
  
body {
  font-family: roboto;
}

#main {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100vh;
  transition: background-color 3s;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  
}

#quote-box {
  box-sizing: border-box;
  position: relative;
  background-color: $qcolor;
  border-radius: 5px;
  padding: 50px;
  max-width: 1000px;
  min-width: 150px;
  margin-bottom: 70px;
  width: 100%;
  opacity: 0.95;
}

#text-bg {
  
 //background-color: orange;
  border-radius: 8px;
  color: $color;
  height: 450px;
  letter-spacing: 1px;
  text-align: center;
  word-spacing: 0px;
  user-select: none;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
  }

#text-container {
  position: absolute;
 // background-color: red;
  height: 370px;
  max-width: 800px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#text {
  font-family: 'Calligraffitti', cursive;
  color: $color;
// background-color: #283593;
  font-size: 1.75em;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: -9px;
  transition: color 3s;
  text-align: justify;
  
}


#text-anim {
  @extend #text;
  animation-name: text-zoom;
  animation-duration: 6s;
  
}

 #author {
// background-color: black;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 2.1em;
  width: auto;
  height: 50px;
  text-align: right;
  align-self: flex-end;
  padding-top: 20px;
  margin-bottom: 20px;
  margin-right: 25px;
   
  animation-name: author-fade;
  animation-duration: 3000ms;
   
  
  
}

#author-hidden {

  font-family: 'Cedarville Cursive', cursive;
 font-size: 2.1em;
  width: auto;
  height: 50px;
  text-align: right;
  align-self: flex-end;
  padding-top: 20px;
  margin-bottom: 20px;
  margin-right: 25px;
  opacity: 0;
}

@keyframes author-fade {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1.0;
  }
}



@keyframes text-zoom {
  0% {
  }
  
  23% {
   transform: scale(1, 1)
  }
  24% {
   transform: scale(0.6, 0.6) 
  }
  
  100% {
    
  }
}

.box-1 {
  border-width: 3px;
  border-left-style: solid;
  border-bottom-style: solid;
  border-radius: 3.5px;
  width: 150px;
  height: 75px;
  align-self: flex-end;
  transition: border-color 3s;
   
}

.box-1-anim {
  @extend .box-1;
  animation-name: sweep;
  animation-duration: 1500ms;
  animation-direction: alternate;
  animation-iteration-count: 2;
  position: relative;
}

@keyframes sweep {
    0% {
  }
  
  
  20% {
    width: 0px;
    margin-bottom: 0px;
    
  }
  
   49% {
    background-color: transparent;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 0px;
    border-right-style: none; 
     
  }
 
  50% {
    background-color: $qcolor;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-style: solid;
    border-right-width: 3px;
    width: 0px;
    height: 356px;
    margin-left: 0px;
    margin-bottom: 47px;
    
  }
  
  93% {
    background-color: $qcolor;
    border-radius: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-style: solid;
    border-right-width: 3px;
    width: 50%; 
    height: 356px;
    margin-bottom: 47px;
    
  }
  
  100% {
    background-color: $qcolor;
    border-radius: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-style: solid;
    border-right-width: 3px;
    width: 50%; 
    height: 356px;
    margin-bottom: 47px;
  }
}

.box-2 {
 border-top: solid 3px;
  border-right: solid 3px;
  border-radius: 3.5px;
  width: 150px;
  height: 75px;
  transition: border-color 3s;
  
}
  
.box-2-anim {
  @extend .box-2;
   animation-name: sweep2;
  animation-duration: 1500ms;
  animation-direction: alternate;
  animation-iteration-count: 2;
  position: relative;
  
}

@keyframes sweep2 {
    0% {
      
  }
  
  
  20% {
    width: 0px;
    margin-top: 0px;
    
  }
  
   49% {
    background-color: transparent;
    border-top-width: 3px;
    border-right-width: 3px;
    border-left-width: 0px;
    border-left-style: none;
         
  }
 
  50% {
    background-color: $qcolor;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-style: solid;
    border-left-width: 3px;
    width: 0px;
    height: 356px;
    margin-right: 0px;
    margin-top: 47px;
    
  }
  
  93% {
    background-color: $qcolor;
    border-radius: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-style: solid;
    border-left-width: 3px;
    width: 50%; 
    height: 356px;
    margin-top: 47px;
  }
  
  100% {
    background-color: $qcolor;
    border-radius: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-style: solid;
    border-left-width: 3px;
    width: 50%; 
    height: 356px;
    margin-top: 47px;
    
  }
}



// $testfont: "Homemade Apple", cursive;
// $testfont: 'Cedarville Cursive', cursive;
// $testfont: 'Courgette', cursive;
// $testfont: 'Permanent Marker', cursive;
// $testfont: 'Niconne', cursive;
// $testfont: 'Calligraffitti', cursive;





.btn-container {
 // background-color: black;
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  width: 100%;
  
}

#new-quote {
  background-color: $qcolor ;
  border: solid $qcolor 5px;
  border-radius: 5px;
  color: #4CAF50;
  cursor: pointer;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 2.6em;
  padding: 20px 60px;
  user-select: none;
  transition: color 1s, opacity 800ms;
  opacity: 0.95;
  text-align: center;
  margin-right: 2px;
}


#tweet-quote {
  background-color: $qcolor;
   border: solid $qcolor 5px;
  border-radius: 5px;
  color: #03A9F4;
  cursor: pointer;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 2.6em;
  padding: 20px 46px;
  text-decoration: none;
  user-select: none;
  opacity: 0.95;
  transition: opacity 800ms;
  text-align: center;
  margin-left: 2px;
}



@media only screen and (max-width: 992px) {
  #text {
    font-size: 1.55em;
  }
  
  #author {
    font-size: 1.95em;
  }
}

@media only screen and (max-width: 750px) {
  #text {
    font-size: 1.25em;
  }
  
  #author {
    font-size: 1.6em;
  }
}

@media only screen and (max-width: 500px) {
  #main-container {
    box-sizing: border-box;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #quote-box {
    margin-bottom: 5px;
    padding: 5px;
  }

  #text-container {
    padding: 12px 5px 30px 5px;
  }

  #text {
    font-size: 1.1em;
  }
  
  #author {
    font-size: 1.3em;
  }

  #new-quote {
    font-size: 2em;
    padding: 8px 30px;
  }

  #tweet-quote {
    font-size: 2em;
    padding: 8px 23px;
  }
 }

 @media only screen and (max-height: 580px) {
  #new-quote {
    font-size: 1.8em;
    padding: 8px 30px;
  }

  #tweet-quote {
    font-size: 1.8em;
    padding: 8px 23px;
  }
 }